.login-logo {
  height: 20vmin;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.btn-login {
  border-color: #8CE2D7;
  background-color: #8CE2D7;
  color: #121213;
}

.btn-login:hover, .btn-login:active, .btn-login:focus {
  border-color: #69a099;
  background-color: #69a099;
  color: white;
}